@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');




* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: .938rem;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.container {
    background-color: white;
    margin: 40% auto;
    max-width: 300px;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qrcode {
    object-fit: cover;
    max-width: 100%;
    padding: 15px;
}

.header {
    text-align: center;
    padding: 0px 40px 10px 40px;
}

.content {
    text-align: center;
    padding: 10px 25px 25px 40px;
}